* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .95rem;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

button {
  border: none;
  background: #265f82;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
}

button:hover {
  border: none;
  background: #1F4C69;
  color: white;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(49,84,129,1)), color-stop(100%, rgba(39,107,130,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ie10+ */
  background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* w3c */
}

.centered-form__form {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 20px;
  width: 230px;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field input, .form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.chat {
  display: flex;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 75%;
  height: 100vh;
  background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(49,84,129,1)), color-stop(100%, rgba(39,107,130,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ie10+ */
  background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* w3c */
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  /* text-align: center; */
  height: 100vh;
  width: 25%;
}
.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 25%;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

@media (orientation:portrait) {
  #webinar{
    height: 40vh;
  }
  
}

.chat__sidebar h3 {
  color: #e6eaee;
  margin: 10px 20px;
  text-align: left;
}

.chat__sidebar ul {
  list-style-type: none;
}

.timer_str{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  
}

.container {
  width:100%;
  border:1px solid #d3d3d3;
}
.container div {
  width:100%;
}
.container .header {
  background-color:#d3d3d3;
  padding: 2px;
  cursor: pointer;
  font-weight: bold;
}
.container .content {
  display: none;
  padding : 5px;
}

.backgr{
  background-image: url("../img/demo.jpeg");
  /* width: 100%; */
  height: 100vh;
  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-image {
  /* The image used */
  background-image: url("../img/demo.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.timer{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 10px;
  
}
.chat__sidebar li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}



.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  /*height: 60px;*/
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  margin-right: 10px;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

.message__title span {
  color: #999;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}
